{% extends 'main.html' %}

{% block content_1 %}
<!-- {{ carts }} -->
<!-- {{ request.GET }} -->
<div class="cart-wrapper">
    <div class="cart-card">
        <h2 class="cart-title">🛒 Savatcha</h2>
        {% for cart in carts %}
        <div class="product-name">
            {{ cart.product.name }}
        </div>
        <!-- Cart item -->
        <div class="cart-item" id="cart-{{ cart.id }}">
                <div class="qty-control">

                    <button class="qty-btn minus-btn"
                            data-id="{{ cart.id }}"
                            id="minus-{{ cart.id }}">−</button>

                    <input type="text"
                        value="{{ cart.quantity }}"
                        id="qty-{{ cart.id }}"
                        class="qty-input">

                    <button class="qty-btn plus-btn"
                            data-id="{{ cart.id }}"
                            id="plus-{{ cart.id }}">+</button>

                </div>

                <div class="cart-info">
                    <span>x{{ cart.product.change_price }}$=</span>
                    <strong id="total-{{ cart.id }}">{{ cart.purchase }}$</strong>
                </div>

            <form method="post" action="{% url 'cart_remove' cart.id %}">
                {% csrf_token %}
                
                <button class="delete-btn">🗑</button>
            </form>
        </div>
        {% endfor %}
        <!-- Total -->
        <div class="cart-total">
            <p>Jami <{{ carts.total_quantity }}> ta mahsulot!</p>
            <h3 id="grand-total">Jami narxi - {{ carts.total_price }}$</h3>
        </div>

        <!-- Checkout -->
        {% if user.is_anonymous %}
            <a href="{% url 'reg' %}" class="checkout-btn">Zakazni Qabul qilish</a>
        {% elif carts.total_quantity %}
            <a href="{% url 'order' %}" class="checkout-btn">Zakazni Qabul qilish</a>
        {% else %}
            <a href="{% url 'news' %}" class="checkout-btn">
                🏠 Bosh sahifaga qaytish
            </a>
        {% endif %}
    </div>
</div>

{% endblock %}
{% block url_1 %} <a href="{% url 'home' %}">🏠 Asosiy</a> {% endblock %}
{% block url_2 %} <a href="{% url 'news' %}">ℹ news</a> {% endblock %}
{% block url_3 %} <a href="{% url 'about' %}">ℹ About</a> {% endblock %}