{% extends 'main.html' %}

{% block content_1 %}
<!-- {{ carts }} -->
<div class="cart-wrapper">
    <div class="cart-card">
        <h2 class="cart-title">🛒 Корзина</h2>
        {% for cart in carts %}
        <div class="product-name">
            {{ cart.product.name }}
        </div>
        <!-- Cart item -->
        <div class="cart-item">
            <div class="qty-control">
                <button class="qty-btn">−</button>
                <input type="text" value="{{ cart.quantity }}" class="qty-input">
                <button class="qty-btn">+</button>
            </div>

            <div class="cart-info">
                <span>x{{ cart.product.change_price }}$=</span>
                <strong>{{ cart.purchase }}$</strong>
            </div>

            <button class="delete-btn">🗑</button>
        </div>
        {% endfor %}
        <!-- Total -->
        <div class="cart-total">
            <p>Итого {{ carts.total_quantity }} товар(а) на сумму</p>
            <h3>{{ carts.total_price }}$</h3>
        </div>

        <!-- Checkout -->
        <button class="checkout-btn">Оформить заказ</button>

    </div>
</div>

{% endblock %}
{% block url_1 %} <a href="{% url 'home' %}">🏠 Asosiy</a> {% endblock %}
{% block url_2 %} <a href="{% url 'news' %}">ℹ news</a> {% endblock %}
{% block url_3 %} <a href="{% url 'about' %}">ℹ About</a> {% endblock %}