{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
<style>
.alert-error {
    background-color: #fdecea;
    color: #b71c1c;
    padding: 10px 14px;
    border-left: 4px solid #e74c3c;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 14px;
}
</style>
</head>
<body>
    {% include 'message.html' %}
<aside>
    <div class="logo">
        <span>&lt;/&gt;</span> 
        <a href="{% url 'profile' %}" class="profile-link">
            {{ user.username }}
        </a>
    </div>
    <nav>
        <ul>
            <li>{% block url_1 %}{% endblock %}</li>
            <li>{% block url_2 %}{% endblock %}</li>
            <li>{% block url_3 %}{% endblock %}</li>
            {% if not user.is_authenticated %}
            <li><a href="{% url 'login' %}">⛩️ login </a></li>
            {% elif user.is_superuser %}
            <li><a href="{% url 'create' %}">⚙️ add </a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">↩️ sign out </a></li>
            {% endif %}
        </ul>
    </nav>
</aside>
<main>
    {% block content_1 %}{% endblock %}
    {% include 'create_include.html' with object=agree form=form %}
</main>
<script>
setTimeout(function() {
    let messages = document.querySelectorAll('.message-item');
    messages.forEach(function(msg) {
        msg.classList.add('fade-out');
        setTimeout(function() {
            msg.remove();
        }, 500);
    });
}, 5000); // 5 soniya
document.querySelectorAll(".qty-btn").forEach(btn => {

    btn.addEventListener("click", function () {

        let cartId = this.dataset.id
        let action = this.classList.contains("plus-btn") ? "plus" : "minus"

        fetch(`/cart/cart_view/${cartId}/`, {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
                "Content-Type": "application/x-www-form-urlencoded"
            },
            body: `action=${action}`
        })
        .then(response => response.json())
        .then(data => {

            if (data.error) {
                alert(data.message)
                return
            }

            if (data.deleted) {
                document.getElementById(`cart-${cartId}`).remove()
                location.reload()
                return
            }

            let qtyInput = document.getElementById(`qty-${cartId}`)
            let plusBtn = document.getElementById(`plus-${cartId}`)
            let minusBtn = document.getElementById(`minus-${cartId}`)
            let totalPrice = document.getElementById(`total-${cartId}`)

            qtyInput.value = data.quantity
            totalPrice.innerText = data.total_price + "$"

            minusBtn.disabled = data.quantity <= 1
            plusBtn.disabled = data.quantity >= data.max

        })

    })

})
window.onload = function() {

    document.querySelectorAll(".qty-input").forEach(input => {

        let cartId = input.id.split("-")[1]

        let qty = parseInt(input.value)

        let minusBtn = document.getElementById(`minus-${cartId}`)

        if (qty <= 1) {
            minusBtn.disabled = true
        }

    })

}
// Karta raqamini formatlash
document.getElementById('card_number').addEventListener('input', function (e) {
    let value = e.target.value.replace(/[^\d]/g, '');
    let formattedValue = value.replace(/(.{4})/g, '$1 ').trim();
    e.target.value = formattedValue;
});

// Muddatni formatlash (OO/YY)
document.getElementById('card_expiry').addEventListener('input', function (e) {
    let value = e.target.value.replace(/[^\d]/g, '');
    if (value.length > 2) {
        value = value.substring(0, 2) + '/' + value.substring(2, 4);
    }
    e.target.value = value;
});
</script>

</body>
</html>

