{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
<style>
    .alert-error {
    background-color: #fdecea;
    color: #b71c1c;
    padding: 10px 14px;
    border-left: 4px solid #e74c3c;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 14px;
}
</style>
</head>
<body>
<aside>
    <div class="logo">
        <span>&lt;/&gt;</span> Bunyod
    </div>
    <nav>
        <ul>
            <li>{% block url_1 %}{% endblock %}</li>
            <li>{% block url_2 %}{% endblock %}</li>
            <li><a href="{% url 'create' %}">⚙️ add </a></li>
            <li><a href="{% url 'reg' %}">⛩️ registrate </a></li>
        </ul>
    </nav>
</aside>
<main>
    {% block content_1 %}{% endblock %}
    {% include 'create_include.html' with object=agree form=form %}
</main>
</body>
</html>

